@model  IEnumerable<OMIstats.Models.Persona>

@{
    ViewBag.Title = "OMI";
}

<p>
    Esta es una base de datos de la <a href="http://www.olimpiadadeinformatica.org.mx/" target="_blank">Olimpiada Mexicana de Informática</a>.
</p>

<p>
    Este sitio pretende recopilar todos los datos de las olimpiadas nacionales pasadas de manera similar
    a la que se tiene para la <a href="http://stats.ioinformatics.org/" target="_blank">Olimpiada Internacional de Informática</a>.
    Datos sobre competidores, asesores, líderes, delegados, invitados y organizadores se tendrán disponibles
    sobre olimpiadas actuales y pasadas, incluyendo los medalleros oficiales de cada año.
</p>

<!-- -TODO- Agregar enlace a las páginas para pedir acceso -->
<p>
    Se invita a cada participante a agregar sus datos de contacto si así lo desea, para lo cual será necesario
    que pidan a los administradores del sitio sus datos de acceso. Si aun tienes en tu poder tu reconocimiento
    de participante o medallista de al menos una olimpiada en la que participaste y nos lo mandas por correo electrónico,
    eso nos ayudará a demostrar tu identidad.
</p>

<p>
    Si participaste en alguna olimpiada pero no te encuentras en nuestra base de datos, también puedes mandarnos un correo
    donde nos digas en qué olimpiada participaste y cuál fue tu rol durante ese año.
</p>

<p>
    También nos puedes escribir con cualquier duda, sugerencia, queja o comentario.
</p>

<hr />

<p>
    Desarrollado por <a href="Profile/view?usuario=darknut" class="nombre">Félix Rafael Horta Cuadrilla</a>.
</p>

<h4>Administradores</h4>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.nombre, "view", "Profile",
                    new { usuario = item.usuario },
                    new { @class = "nombre" })
        </li>
    }
</ul>