@model OMIstats.Models.Persona

@section AddToHead
{
    <link href="~/Content/formas.css" type="text/css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Iniciar sesión";
}

@using (@Html.BeginForm(null, null, FormMethod.Post, new { name = "logInForm", id = "logInForm" }))
{

    <h1 class="titulo">Iniciar sesión</h1>

    <div> Nombre de usuario: </div>
    <div> @Html.EditorFor(model => model.usuario) </div>

    <br />

    <div> Contraseña: </div>
    <div> @Html.PasswordFor(model => model.password)</div>

    <br />

    <div>@Html.Label("Nombre de usuario o contraseña incorrecta",
    new { style = "display:" + (ViewBag.logInError ? "inline;" : "none;"),
          @class = "errorTextoRojo" }) </div>

    <p>
        <input type="button" onclick="muestraLoadGifYSubmit('logInForm')" value="Entrar"/>
        <img class="textoRojo" id='loading' src="~/img/ajax-loader.gif" />
    </p>
}

<div><a href="/Log/Recover/">¿Olvidaste tu contraseña?</a></div>

<br />

<div><a href="/Request/Claim/">¿No tienes datos de acceso?</a></div>