@model OMIstats.Models.Persona

@{
    ViewBag.Title = "Iniciar sesión";
}

@using(@Html.BeginForm()) {

    <h1 class="titulo">Iniciar sesión</h1>

    <div> Nombre de usuario: </div>
    <div> @Html.EditorFor(model => model.usuario) </div>

    <br />

    <div> Contraseña: </div>
    <div> @Html.PasswordFor(model => model.password)</div>

    <br />

    <div>@Html.Label("Nombre de usuario o contraseña incorrecta",
    new { style = "display:" + (ViewBag.logInError ? "inline;" : "none;"),
          @class = "errorTextoRojo" }) </div>

    <p>
        <input type="submit" value="Entrar" />
    </p>
}

<!-- -TODO- Agregar enlaces a lugares correctos -->

<div style="clear:both">¿Olvidaste tu contraseña?</div>

<div>¿No tienes datos de acceso?</div>