@model List<OMIstats.Models.Olimpiada>

@section AddToHead
{
    <link href="~/Content/olimpiadas.css" type="text/css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Olimpiadas";
}

<h1 class="titulo">Olimpiadas</h1>