.logoEscuela {
    display:flex;
    height:200px;
    width:200px;
    float:left;
    margin-right: 2px;
	margin-bottom: 8px;
}

.logoEscuela img {
    max-width:200px;
    max-height:200px;
    align-self:center;
}

.datosEscuela {
    float:left;
    padding-left:10px;
}

.labelEscuela {
    display:inline-block;
    padding-top:15px;
    padding-left:10px;
    vertical-align:top;
}

.nombreContainer {
    display:inline-block;
    float:left;
    padding-left:10px;
}

.nombreEscuela {
    font-weight:bold;
    font-size:14pt;
}

.nombreCorto {
    text-align:right;
    padding-top:15px;
    padding-bottom:30px;
    width:100%;
    font-weight:normal;
    font-size:11pt;
}

.medallero {
    width:200px;
}

.sedes {
    margin-top:20px;
    margin-left:10px;
    margin-bottom:20px;
    font-size:15pt;
    font-weight:bold;
    color:#336699;
}

.contentEdit {
    margin-top:30px;
    margin-left:15px;
}

.botonEscuela {
    flex:1 1 auto;
    text-align:right;
    margin-right:50px;
}

.datosEscuelaContainer {
    display:flex;
    flex-direction:column;
}

.detallesEscuela {
    display:flex;
    flex-direction:row;
    flex:1 1 auto;
}