.logoEstado {
    max-width: 150px;
    max-height: 65px;
    padding-top: 5px;
}

.logoEstadoFloat {
    max-width: 300px;
    max-height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}

.logoEstadoFloat img {
    max-width: 300px;
    max-height: 100px;
}

.logoEdit {
    float: left;
    max-width: 150px;
}

.logoEdit img {
	margin-bottom: 8px;
    max-width: 150px;
    max-height: 65px;
}

.datosEstado {
    float:left;
    padding-left:10px;
}

.tituloEstado {
    display:flex;
    padding-top: 20px;
    height:100%;
}

.medallero {
    margin-left: 5px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

.medallero img {
    width: 15px;
    margin-right: 10px;
}

.medalla {
    display: flex;
    flex: 0 0 auto;
    font-size: 13pt;
    font-weight: bold;
    margin-right: 10px;
}

.tablaDelegacion {
    border: solid 1px;
    margin-left: 20px;
    width: 1000px;
    clear: both;
    display: block;
}

.miembroDelegacion {
    border: solid 1px;
    width: 460px;
    display: inline-block;
    padding: 15px;
}

.datosMiembro {
    padding-left: 115px;
}