.logoEstado {
    max-width: 150px;
    max-height: 65px;
    padding-top: 5px;
}

.logoEdit {
    float: left;
    max-width: 150px;
}

.logoEdit img {
	margin-bottom: 8px;
    max-width: 150px;
    max-height: 65px;
}

.datosEstado {
    float:left;
    padding-left:10px;
}