.logoEstado {
    max-width: 150px;
    max-height: 65px;
    padding-top: 5px;
}

.logoEstadoFloat {
    max-width: 300px;
    max-height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}

.logoEstadoFloat img {
    max-width: 300px;
    max-height: 100px;
}

.logoEdit {
    float: left;
    max-width: 150px;
}

.logoEdit img {
	margin-bottom: 8px;
    max-width: 150px;
    max-height: 65px;
}

.datosEstado {
    float:left;
    padding-left:10px;
}

.tituloEstado {
    display:flex;
    padding-top: 20px;
    height:100%;
}

.tablaDelegacion {
    margin-left: 20px;
    width: 1200px;
    clear: both;
    display: block;
}

.fotoFixedHeight img {
    max-height:100px;
}

.miembroDelegacion {
    border: dotted 1px;
    border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
    width: 500px;
    display: inline-block;
    padding: 15px 15px 5px 15px;
    margin: 10px;
}

.datosMiembro {
    padding-left: 115px;
}

.noOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nombreMiembro {
    font-size: 16pt;
}

.claveMiembro {
    margin-top: 5px;
    font-size: 12pt;
}

.medallaMiembro {
    height: 50px;
    float: right;
    margin-right: 30px;
}

.fondoBronce {
    background-color: #FFF3E8;
}

.fondoPlata {
    background-color: #F9F8F7;
}

.fondoOro {
    background-color: #FEFEEB;
}

.headerEstado a {
    text-decoration: none;
}

.headerEstado a:hover {
    text-decoration: underline;
}

.top-estado {
    font-weight: bold;
    font-size: 11pt;
}

.clone-wrapper {
    position: relative;
    margin: auto;
    overflow: hidden;
    padding-right: 50px;
}

.table-wrapper {
    width: 100%;
    overflow: auto;
}

.scrollable-wrapper table {
    width: 100%;
    margin: auto;
}

.clone {
    position: absolute;
    top: 0;
    left: 0;
}

.clone .hide-when-clone {
    visibility: hidden;
    border: none;
}

.white-background {
    background-color: white;
}

.header-min-height {
    height: 35px;
}