.album-container {
    padding: 20px;
    display: table;
}

.album {
    text-align: center;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    padding: 15px;
}

.picture {
    height: 250px;
    line-height: 250px;
}

.album-height {
    height: 210px;
}

.album:hover {
    border: 1px solid #777;
}

.album img {
    max-width: 250px;
}

.picture img {
    max-height: 250px;
    margin: auto;
    vertical-align: middle;
}

.maxCombo {
    max-width: 150px;
}