.titulo {
	color:#336699;
	font-size:24px;
	text-shadow: 2px 2px 3px #999;
	text-align:left;
}

.nombre {
    color:gray;
    text-decoration:none;
}

.nombre:hover {
    color:blue;
    text-decoration:underline;
}

.clear {
    clear:both;
}

.errorTextoRojo {
    color:red;
}

.verde {
    color:green;
}