.OMItituloFlexBox {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.tituloOMI {
    height: inherit;
    align-self: center;
}

.botonOMI {
    align-self: center;
    margin-left: 35px;
    margin-bottom: 10px;
}

.logoOMI {
    float: left;
    margin-right: 20px;
}

.logoOMI img {
    max-height: 200px;
    max-width: 500px;
}

.datosOlimpiada {
    float: left;
    padding-left: 10px;
    margin-top: 20px;
}

.nuevaOMI {
    margin-top: 50px;
    margin-right: 20px;
    float: right;
}

.mediaOMI {
    text-align:center;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}

.mediaOMI img {
    border-radius:5%;
}

.adminButtons {
    display:flex;
    flex-direction:column;
}

.tablaAsistentes {
    margin-left:20px;
    width:90%;
    height:800px;
}

.ejemplos {
    margin-left:20px;
}

.opcional {
    font-style:italic;
}

.instrucciones {
    font-weight:bold;
}

.code {
    margin-left:35px;
    font-size:12px;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.problemasColumnas {
    display:flex;
    flex-direction:row;
    width:80%;
}

.problemasColumnas > div {
    width:40%;
}

.tablePadding {
    margin-top:30px;
    margin-bottom:30px;
}

.azul {
    color:blue;
    font-weight:bold;
}

.rosa {
    color: #BA1393;
    font-weight:bold;
}

.table-header {
	font-size: 10pt;
}

.table-td {
	font-size: 10pt;
    height: 40px;
}

.ioi-mini-imagen {
    width:30px;
}

.ioi-mini-imagen img {
    width:25px;
}

.options-scoreboard {
    text-align: right;
    vertical-align: middle;
    width: 60px;
}

.escuela-td {
    width:90px;
}

.nombre-td {
    width:130px;
}

.resultado-dia {
    font-weight:bold;
}

.resultado-total {
    font-weight:bold;
    font-size: 11pt;
}

.padding-nombre-escuela {
    padding-bottom:15px;
}

.anchoColumnaNumero {
    width: 1%;
}

.anchoColumnaEscuela {
    width: 25%;
}

.anchoColumnaOMI {
    width: 8%;
}

.comboTitle {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #555555;
}

.comboMargin {
    margin-right: 10px;
}

.enlaceProblema {
    margin-top: 5px;
    height: 15px;
    width: 15px;
}

.live-results {
    padding-top: 20px;
    padding-bottom: 20px;
    color: red;
    font-weight: bold;
    font-size: 14pt;
}

.last-update {
    padding-left: 20px;
    padding-bottom: 5px;
    color: green;
    font-size: 13pt;
}

.finished {
    color: green;
    font-weight: bold;
    font-size: 14pt;
    text-decoration: none;
}

.finished:hover {
    text-decoration: underline;
}

.omega-up-link {
    padding: 20px;
    display: inline-block;
}

.counter-container {
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
}

.counter-container:hover {
    text-decoration: underline;
}