.overlay-container {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: white;
    opacity: 0.8;
    z-index: 1000;
}

.overlay {
    position:fixed;
    top:50px;
    bottom:50px;
    left:50px;
    right:50px;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
    z-index: 1500;
}

.close-button {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.close-button:hover {
    cursor: pointer;
}

.open-overlay:hover {
    color: blue;
    cursor: pointer;
    text-decoration:underline;
}