.overlay-container {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: white;
    opacity: 0.8;
    z-index: 1000;
}

.overlay {
    position:fixed;
    top:50px;
    bottom:50px;
    left:50px;
    right:50px;
    background: white;
    border-radius: 20px 0 0 20px;
    border: 1px solid black;
    z-index: 1500;
    overflow-y: scroll;
    overflow-x: hidden;
}

.close-button {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.close-button:hover {
    cursor: pointer;
}

.open-overlay:hover {
    color: blue;
    cursor: pointer;
    text-decoration:underline;
}

.overlay-top-menus {
    margin: 50px;
    display: flex;
    flex: 1 1 auto;
}

.overlay-foto {
    display: flex;
    flex: 0 0 auto;
    width: 160px;
}

.overlay-datos {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.overlay-puntos {
    display: flex;
    flex: 0 0 auto;
    width: 300px;
}

.overlay-clave {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.overlay-estado {
    height: 100px;
    border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.overlay-medalla {
    margin-left: 5px;
    width: 15px;
}

.overlay-total {
    background-color: #DDDDDD;
}

.overlay-dia {
   background-color: #EEEEEE;
}

.overlay-numeros {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.graph-containers {
    text-align: center;
}

.chart-title {
    font-size: 16pt;
}

.chart-title a {
    padding: 10px;
    cursor: pointer;
}

.chart-title a:hover {
    text-decoration: underline;
}