.foto {
    float:left;
    max-width:150px;
}

.foto img {
    border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-right: 2px;
	margin-bottom: 8px;
    max-width:150px;
    max-height:300px;
}

.datosParticipante {
    float:left;
    padding-left:10px;
}

.nombrePerfil {
    font-size:20px;
}

.fechaNacimiento {
    padding-top:5px;
    font-size:10px;
    font-style:italic;
    display:inline-block;
}

.perfilUsuario {
    padding-top:5px;
    font-size:10px;
    display:inline-block;
    float:right;
}

.contacto {
    padding-top:10px;
}

.contacto a {
    padding-right:5px;
}

.botones {
    float:left;
    padding-left:30px;
}

.label {
    width:150px;
    display:inline-block;
    padding-top:15px;
    padding-left:10px;
    vertical-align:top;
}

.biglabel {
    width:350px;
    display:inline-block;
    padding-top:15px;
    padding-left:10px;
    vertical-align:top;
}

.input {
    display:inline-block;
    padding-top:15px;
    vertical-align:top;
}

.input select {
    width:160px;
}

.biginput {
    width:350px;
    display:inline-block;
    padding-top:15px;
    padding-left:10px;
    vertical-align:top;
}

.smallInput {
    width: 40px;
}

.inputLarge{
    width:320px;
}

.inputFacebook {
    width:147px;
}

.inputTwitter {
    width:197px;
}

.inputOmegaUp {
    width:135px;
}

.inputTopCoder {
    width:85px;
}

.inputCodeForces {
    width:133px;
}

.inputLinkedIn {
    width:137px;
}

.omegaIcon{
    height:20px;
    margin-left:-5px;
}

.userDiv {
    height:60px;
}

.opcional {
    font-style:italic;
    font-size:10px;
}

textarea {
    width:100%;
}

.minimensaje {
    font-style:italic;
    font-size:10pt;
}

.subtitulo {
    font-size:15pt;
}