.medallero {
    float:left;
    margin-right: 10px;
}

.medallero img {
    width: 10px;
    margin-right: 5px;
}

.medalla {
    margin-top: 7px;
}

.diploma {
    border-top-style: solid;
    border-top-width: thin;
}

.foto {
    float:left;
    max-width:100px;
}

.foto img {
    border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-right: 2px;
	margin-bottom: 8px;
    max-width:100px;
    max-height:300px;
}

.datosParticipante {
    float:left;
    padding-left:10px;
}

.nombrePerfil {
    font-size:20px;
}

.fechaNacimiento {
    padding-top:5px;
    font-size:10px;
    font-style:italic;
    display:inline-block;
}

.perfilUsuario {
    padding-top:5px;
    font-size:10px;
    display:inline-block;
    float:right;
}

.contacto {
    padding-top:10px;
}

.contacto a {
    padding-right:5px;
}

.botones {
    float:left;
    padding-left:30px;
}

.label {
    width:150px;
    display:inline-block;
    padding-top:15px;
    padding-left:10px;
    vertical-align:top;
}

.biglabel {
    width:350px;
    display:inline-block;
    padding-top:15px;
    padding-left:10px;
    vertical-align:top;
}

.input {
    display:inline-block;
    padding-top:15px;
    vertical-align:top;
}

.input select {
    width:160px;
}

.biginput {
    width:350px;
    display:inline-block;
    padding-top:15px;
    padding-left:10px;
    vertical-align:top;
}

.smallInput {
    width: 40px;
}

.inputLarge{
    width:320px;
}

.inputFacebook {
    width:147px;
}

.inputTwitter {
    width:197px;
}

.userDiv {
    height:60px;
}

.oculto {
    display:none;
}

.opcional {
    font-style:italic;
    font-size:10px;
}

textarea {
    width:100%;
}

.minimensaje {
    font-style:italic;
    font-size:10pt;
}

.subtitulo {
    font-size:15pt;
}