.registro-lista {
    padding-top:10px;
    font-size:18px;
}

.titulo-registro {
    background-color: #E0E0E0;
    border: 1px solid white;
    font-weight: bold;
    padding: 10px;
}

.lineas-registro {
    background-color: #F4F4F4;
    border: 1px solid white;
    padding: 3px;
}

.clave-registro {
    font-weight: bold;
}

.no-registrados {
    font-style: italic;
    color: red;
}

.a-sin-href {
    cursor: pointer;
    text-decoration: underline;
}

.registro-container {
    margin-bottom: 20px;
}

.loading {
    margin: 10px;
}

.input-name {
    width: 500px;
}

.redefine {
    font-weight: bold;
    color: green;
}

.mas10 {
    font-weight: bold;
    font-style:italic;
}