.center {
    text-align: center;
}

.derecha {
    text-align: right;
}

.pie {
    height: 30px;
}

.pieTitulo {
    padding-right: 10px;
}

.break-word {
    width: 150px;
    word-wrap: break-word;
}

.table {
    border-collapse: collapse;
    margin-right:10px;
}

.table-header {
	font-size: 18px;
	color: #336699;
    text-align: left;
}

.table-footer {
	font-size: 10pt;
    font-weight: bold;
	color: #336699;
}

.table-header-clickable {
    cursor:pointer;
}

.table-header th {
    padding-right: 10px;
    padding-left: 5px;
}

.table-td {
	font-size: 16px;
	color: #333333;
	padding-left: 5px;
    padding-right: 10px;
	background-image: url(../img/celdafondo.png);
	background-repeat: repeat-x;
    height: 74px;
}

.clave-width {
    min-width: 45px;
}

.fondoOro {
	background-image:url(../img/celdafondooro.png);
}

.fondoPlata {
	background-image:url(../img/celdafondoplata.png);
}

.fondoBronce {
	background-image:url(../img/celdafondobronce.png);
}

.border {
    border: solid 4px #336699;
}

.no-border {
    border: none;
}

.top-border {
    border-top: solid 4px #336699;
}

.right-border {
    border-right: solid 4px #336699;
}

.bottom-border {
    border-bottom: solid 4px #336699;
}

.left-border{
    border-left: solid 4px #336699;
}

.sede {
    margin-top: 20px;
    font-size: 8pt;
    font-style: italic;
    width: 500px;
}

.enlaceProblema {
    padding-left: 10px;
}

.enlaceProblema img {
    width: 15px;
}