@model OMIstats.Models.Persona

@{
    ViewBag.Title = "Recuperar contraseña";
    ViewBag._blank = true;
}

<h2 class="titulo">Recuperar contraseña</h2>

@if (ViewBag.errorPeticion)
{
    <div class="errorTextoRojo">
        En enlace que usaste es inválido o ya fue utilizado previamente.
    </div>
}
else
{
    <div>
        Tu contraseña se ha cambiado correctamente, estos son tus nuevos datos de acceso:
    </div>

    <br />
    <div>Usuario: @Html.DisplayFor(model => model.usuario)</div>

    <br />
    <div>Contraseña: @Html.DisplayFor(model => model.password)</div>

    <br />
    <div>
        Anótalos pues <span class="errorTextoRojo">no se te volverán a mostrar</span>.
    </div>

    if (Char.IsDigit(Model.usuario[0]))
    {
        <br />
        <div>
            <span class="errorTextoRojo">IMPORTANTE:</span> La primera vez que cambies tus datos
            necesitarás elegir un nuevo nombre de usuario.
        </div>
    }
}