@model OMIstats.Models.MiembroDelegacion

@{
    ViewBag.Title = "Reto";
    bool logeado = ViewBag.logeado;
    bool? activo = ViewBag.activo;
    bool esAdmin = ViewBag.esAdmin;
}

@section Scripts
{
    <script>
        removeBanners();
    </script>
}

<h2 class="titulo">Reto OMI</h2>

<div>
¡Bienvenido!, el reto de la OMI 2023 es una búsqueda de tesoros digital (<a href="https://en.wikipedia.org/wiki/Scavenger_hunt" target="_blank">scavenger hunt</a>).
En la siguiente página encontraras una serie de retos que tendrás que resolver, y para cada uno de ellos, tendrás que subir una foto para comprobar que encontraste
o hiciste lo que se te estaba pidiendo.
</div>
<br />
<div>
Habrá un premio para el que termine primero o el que resuelva más retos.
</div>
<br />
<h2>Reglas</h2>
<ul>
<li>Solo los competidores pueden participar en el reto, sin importar la categoría.</li>
<li>Solo se aceptarán envíos hechos a través de esta herramienta.</li>
<li>Los retos serán de tres tipos:
<ol>
<li>Una instrucción directa estilo ve a este lugar o encuentra este objeto.</li>
<li>Un acertijo, cuya respuesta es algo que tienes que hacer o un objeto que tienes que encontrar</li>
<li>Un mensaje codificado, el cual al decodificar puede que obtengas una instrucción directa, un acertijo u otro mensaje codificado</li>
</ol></li>
<li>Todos los retos se pueden completar sin salir del hotel.</li>
<li>El reto es individual, sin embargo algunas cosas necesitarán coolaboración de otras personas o competidores.</li>
<li>Para efectos prácticos de este reto, las delegaciones de la Ciudad de México y Estado de México se consideran <span class="errorTextoRojo">la misma delegación</span></li>
<li>El competidor que resuelva más retos antes del inicio de la clausura será el ganador, en caso de que haya varios competidores empatados en primer lugar,
el ganador será el competidor que haya tardado menos <b>tiempo acumulado</b> en llegar a esa cantidad de retos resueltos.
</li>
<li>Sólo porque subiste una imagen, no quiere decir que sea la respuesta correcta.</li>
<li>Las respuestas correctas no se darán a conocer hasta el final del evento, por lo que no tendrás forma de comprobar si algo que subiste está bien hasta el final.</li>
<li>Podrás subir cualquier cantidad de imágenes para un solo reto, pero únicamente la más reciente será considerada. Si quieres saber cuál es la foto más reciente que enviaste,
puedes dar click en la palomita verde. Si no hay palomita, no has enviado nada.</li>
<li>Comunicación y cooperación entre competidores está permitida, pero cada quien tiene que subir su propia fotografía independientemente.</li>
<li>Cualquier competidor descubierto haciendo trampa, copiando, o saboteando a otros competidores será descalificado.</li>
</ul>

@if (activo == true)
{
    if(logeado)
    {
        if(Model.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR || esAdmin)
        {
<a href="@Url.Content("~/Reto/Lista")" class="boton botonOMI">Empezar</a>
        }
    } else
    {
<a href="@Url.Content("~/Log")" class="boton botonOMI">Iniciar Sesión</a>
<br /><br />
<div>Es necesario que inicies sesión con la cuenta de correo con la que te registró tu delegado.</div>
<br />
<div>Si no sabes con qué cuenta te registraron, puedes buscarte por nombre <a href="@Url.Content("~/Buscar")" target="_blank">aquí</a> y ver en tu perfil cuál es el correo correcto.</div>
<br />
<div>Si no tienes cuenta en la página de la OMI, puedes crear una cuenta ahí mismo, solo asegúrate de crear tu cuenta con esa misma cuenta de correo.</div>
    }
} else
{
<br  /><br  /><br  />
<div>Regresa después del segundo examen para empezar el reto.</div>
}
