@{
    ViewBag.Title = "Elige el estado";
    List<OMIstats.Models.Estado> estados = ViewBag.estados;
}

<h1 class="titulo">@ViewBag.Title</h1>

@foreach (OMIstats.Models.Estado estado in estados)
{
    <div>
        @estado.nombre
    </div>
}