@section AddToHead
{
    <link href="~/Content/registro.css" type="text/css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Elige el estado";
    List<OMIstats.Models.Estado> estados = ViewBag.estados;
    string omi = ViewBag.omi;
}

<h1 class="titulo">@ViewBag.Title</h1>

<ul>
@foreach (OMIstats.Models.Estado estado in estados)
{
    <li class="registro-lista">
        @Html.ActionLink(estado.nombre, "Delegacion", "Registro",
            new { estado = estado.clave, omi = omi }, new { @class = "nombre" })
    </li>
}
</ul>