@model OMIstats.Models.Persona

@{
    ViewBag.Title = "Iniciar sesión";
}

@using(@Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>    
        <legend>Iniciar sesión</legend>

        <div> Nombre de usuario: </div>
        <div> @Html.EditorFor(model => model.usuario) </div>

        <div> Contraseña: </div>
        <div> @Html.PasswordFor(model => model.password) </div>

        <div> @Html.Label("Nombre de usuario o contraseña incorrecta", new { style = "display:" + ViewBag.logInError + ";" }) </div>

        <p>
            <input type="submit" value="Entrar" />
        </p>

    </fieldset>
}