@model List<OMIstats.Models.SearchResult>

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/buscar.css" type="text/css" />
}

@section scripts
{
    <script type="text/javascript" src="~/js/buscar.js"></script>
    <script type="text/javascript">
        preparar("@Url.Content("~")");
    </script>
}

@{
    ViewBag.Title = "Buscar";
}

<div class="searchbox-container">
    <input class="searchbox" type="text" id="searchbox" /> <input id="buscarButton" type="button" value="Buscar" onclick="buscar()" />
</div>

<div id="errorSize" class="errorTextoRojo" style="display:none">Escribe un nombre de al menos tres caracteres</div>

@if (Model != null)
{
    if (Model.Count == 0)
    {
    <div class="subtitulo">
        No se encontraron resultados
    </div>
    }
}