@{
    ViewBag.Title = "Index";
    List<float> resultados = ViewBag.resultados;
    OMIstats.Models.Problema problema = ViewBag.problema;
}

@section scripts
{
    <script src="~/Scripts/Chart.bundle.min.js" type="text/javascript"></script>
    <script src="~/js/graficas.js" type="text/javascript"></script>
    <script type="text/javascript">
        var list = [];
        @foreach(float elem in resultados)
        {
        @("list.push(" + elem +");")
        }
        cargaGrafica("chart", [list], ["@(new HtmlString(problema.nombre))"], 100);
    </script>
}

<h2>Index</h2>

<canvas id="chart" width="1000" height="400"></canvas>
