@model OMIstats.Models.Persona

@{
    ViewBag.Title = "Mandar contraseña";
}

<h2 class="titulo">Mandar contraseña</h2>

@if (ViewBag.changed)
{
    <div>
        Se envió satisfactoriamente un mensaje al correo del usuario para resetear su contraseña.
    </div>
}
else
{
    using(@Html.BeginForm()) {
        <div>
            Usuario: @Html.DisplayFor(model => model.usuario)
        </div>
        <br />

        <div>
            Correo: @Html.TextBoxFor(model => model.correo)
            @if (ViewBag.logInError)
            {
                <div class="errorTextoRojo">Ocurió un error al mandar el correo, verifica que el correo sea válido.</div>
            }
        </div>
        <br />

        <input type="submit" value="Enviar" />
    }
}