@model OMIstats.Models.Persona

@section AddToHead
{
    <link href="~/Content/formas.css" type="text/css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Mandar contraseña";
}

<h2 class="titulo">Mandar contraseña</h2>

@if (ViewBag.guardado)
{
    <div>
        Se envió satisfactoriamente un mensaje al correo del usuario para resetear su contraseña.
    </div>
}
else
{
    using (@Html.BeginForm(null, null, FormMethod.Post, new { name = "passwordForm", id = "passwordForm" }))
    {
        <div>
            Usuario: @Html.DisplayFor(model => model.usuario)
                     @Html.HiddenFor(model => model.usuario)
        </div>
        <br />

        <div>
            Correo: @Html.TextBoxFor(model => model.correo)
            @if (ViewBag.logInError)
            {
                <div class="errorTextoRojo">Ocurió un error al mandar el correo, verifica que el correo sea válido.</div>
            }
        </div>
        <br />

        <input type="button" onclick="muestraLoadGifYSubmit('passwordForm')" value="Enviar"/>
        <img class="textoRojo" id='loading' src="~/img/ajax-loader.gif" />
    }
}